<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Zahrada</h3>
            </div>
            <div class="box-body">
                <chart-dashlet></chart-dashlet>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Predzahrada</h3>
            </div>
            <div class="box-body">
                <chart-dashlet></chart-dashlet>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Vstupna hala</h3>
            </div>
            <div class="box-body">
                <chart-dashlet></chart-dashlet>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Ukladaci priestor</h3>
            </div>
            <div class="box-body">
                <chart-dashlet></chart-dashlet>
            </div>
        </div>
    </div>
</div>
