<ul class="sidebar-menu">

    <li class="header">NAVIGÁCIA</li>

    <li routerLinkActive="active">
        <a [routerLink]="['/dashboard']">
            <i class="fa fa-dashboard text-green"></i>
            <span>Prehľad</span>
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/security']">
            <i class="fa fa-lock text-red"></i>
            <span>Zabezpečenie</span>
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/teplota']">
            <i class="fa fa-line-chart text-yellow"></i>
            <span>Teplota</span>
            <menu-info-dashlet [dashletId]="'indoor'" [dashletType]="sensorType.TEMP" [dashletIconColor]="'bg-green'"></menu-info-dashlet>
            <menu-info-dashlet [dashletId]="'outdoor'" [dashletType]="sensorType.TEMP" [dashletIconColor]="'bg-red'"></menu-info-dashlet>
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/vlhkost']">
            <i class="fa fa-tint text-aqua"></i>
            <span>Vlhkosť</span>
            <span class="label label-primary pull-right">17</span>
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/slnecnost']">
            <i class="fa fa-sun-o text-orange"></i>
            <span>Slnečnosť</span>
            <span class="label label-primary pull-right bg-red">53</span>
        </a>
    </li>

    <li routerLinkActive="active">
        <a [routerLink]="['/radar']">
            <i class="fa fa-cloud text-purple"></i>
            <span>Radar</span>
        </a>
    </li>

    <li class="header">KAMERY</li>

    <li routerLinkActive="active">
        <a [routerLink]="['/kamery']">
            <i class="fa fa-dashboard text-green"></i>
            <span>Prehľad</span>
        </a>
    </li>

    <li *ngFor="let camera of cameras" routerLinkActive="active">
        <a [routerLink]="['/kamera', camera.route]">
            <i class="fa fa-video-camera text-{{camera.color}}"></i> <span>{{camera.name}}</span>
        </a>
    </li>
    
</ul>