/*
 * Component: Info Box
 * -------------------
 */
.info-box {
  display: block;
  min-height: @info-box-size;
  background: #fff;
  width: 100%;
  box-shadow: @box-boxshadow;
  .border-radius(2px);
  margin-bottom: 15px;
  small {
    font-size: 14px;
  }
  .progress {
    background: rgba(0, 0, 0, .2);
    margin: 5px -10px 5px -10px;
    height: 2px;
    &,
    & .progress-bar {
      .border-radius(0);
    }
    .progress-bar {
      background: #fff;
    }
  }
}

.info-box-icon {
  .border-radius(2px; 0; 2px; 0);
  display: block;
  float: left;
    height: @info-box-size;
    width: @info-box-size;
  text-align: center;
  font-size: 45px;
    line-height: @info-box-size;
  background: rgba(0, 0, 0, 0.2);
  > img {
    max-width: 100%;
  }
}

.info-box-content {
    padding: 0px 10px;
    margin-left: @info-box-size;
}

.info-box-number {
  display: block;
  font-weight: bold;
    font-size: 32px;
    line-height: 32px;
}

.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text {
  text-transform: uppercase;
}

.info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}
