<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <info-dashlet [dashletId]="'outdoor'" [dashletType]="sensorType.TEMP" [dashletIconClass]="'ion-ios-gear-outline'" [dashletIconColor]="'bg-aqua'"></info-dashlet>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <info-dashlet [dashletId]="'indoor'" [dashletType]="sensorType.TEMP" [dashletIconClass]="'ion-ios-gear-outline'" [dashletIconColor]="'bg-yellow'"></info-dashlet>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <info-dashlet [dashletId]="'humidity'" [dashletIconClass]="'ion-ios-cart-outline'" [dashletIconColor]="'bg-green'"></info-dashlet>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <info-dashlet [dashletId]="'shine'" [dashletIconClass]="'ion-ios-people-outline'" [dashletIconColor]="'bg-red'"></info-dashlet>
    </div>
</div>
<div class="row" id="equalize-height">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Kamery</h3>
                <div class="box-tools pull-right">
                    <carousel-item-selector [carouselId]="'carousel-cameras'" [items]="['Zahrada', 'Vstupna hala', 'Predzahrada']"></carousel-item-selector>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <camera-snapshot-carousel-dashlet [carouselId]="'carousel-cameras'"></camera-snapshot-carousel-dashlet>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Počasie</h3>
                <div class="box-tools pull-right">
                    <carousel-item-selector [carouselId]="'carousel-weather'" [items]="['Radar', 'Predpoved pocasia']"></carousel-item-selector>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="carousel-weather" class="carousel slide" data-interval="5000" data-ride="carousel">
                    <div class="carousel-inner" style="height: 100%; width: 100%">
                        <div class="item active" style="height: 100%; width: 100%">
                            <iframe-dashlet [iframeSrc]="'http://hemi-radar-studienka.petervanco.sk'"></iframe-dashlet>
                        </div>
                        <div class="item" style="height: 100%; width: 100%">
                            <weather-forecast-dashlet [city]="'Bratislava'"></weather-forecast-dashlet>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-weather" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-weather" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- interactive chart -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-bar-chart-o"></i>
                <h3 class="box-title">Vývoj teploty</h3>
                <div class="box-tools pull-right">
                    <chart-dashlet-range-selector [chartDashlet]="temperatureChart"></chart-dashlet-range-selector>
                </div>
            </div>
            <div class="box-body">
                <chart-dashlet #temperatureChart [chartSettingsUri]="'/src/tpl/dashboard/dashlet/settings/chartSettings.settings.js'" height="250px" width="100%"></chart-dashlet>
            </div>
            <!-- /.box-body-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>