<div class="col-xs-2 col-md-1">
    <div class="box box-solid">
        <div class="box-body timeline-button timeline-previous">
            <img src="dist/img/arrow-left.png" />
        </div>
    </div>
</div>
<div class="col-xs-8  col-md-10 col-no-padding">
    <div class="box box-solid box-timeline">
        <div class="box-body box-body-timeline">
        </div>
    </div>
</div>
<div class="col-xs-2 col-md-1">
    <div class="box box-solid">
        <div class="box-body timeline-button timeline-next">
            <img src="dist/img/arrow-right.png" />
        </div>
    </div>
</div>